//颜色
$base-color:#FF483C;
//渐变色
$base-background-color:linear-gradient(314deg, rgba(255, 101, 96, 1) 0%, rgba(255, 106, 67, 1) 100%);

//文字颜色
$base-title-color:#2196f3;


//普通文字颜色
$base-normal-color:grey;

//文字大小
$base-size-footer: .24rem;

$base-size-xxxl:64px;
$base-size-xxl:44px;
$base-size-xl: .32rem;
$base-size-l: .3rem;
$base-size-m: .28rem;
$base-size-s: .24rem;